<ion-content fullscreen class="ion-padding" scroll-y="false">
  <div class='center'>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="assets/logo.png" />
        <h2>Welcome to Morelo Wallet!</h2>
        <p>An official wallet for Morelo (MRL).</p>
      </ion-slide>
      <ion-slide>
        <h2>jakieś info 1</h2>
      </ion-slide>
      <ion-slide>
        <h2>jakieś info 2</h2>
      </ion-slide>
    </ion-slides>
    <ion-button expand="block" href="register">Let's get started!</ion-button>
    <ion-router-link color="secondary" href="login">I already have an account</ion-router-link>
  </div>
</ion-content>
